# ===== Django =====
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
media/
staticfiles/

# ===== Python Virtual Environment =====
venv/
Lib/
Include/
Scripts/
pyvenv.cfg

# ===== Flutter =====
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.idea/
frontend/.vscode/
frontend/*.iml
frontend/*.log

# ===== OS files =====
.DS_Store
Thumbs.db
