<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<div id="header">
    <a href="notification.html">通知</a>
    
    {% if user.is_authenticated %}
        <span>{{ user.username }} さん、ログイン中</span>
        {% if user.family_leader_flag %}
            <span>（家族代表者）</span>
        {% endif %}
        <a href="{% url 'logout' %}">ログアウト</a>
    {% else %}
        <a href="{% url 'signup' %}">新規作成</a>
        <a href="{% url 'login' %}">ログイン</a>
    {% endif %}
</div>

<div id="main">
    マップいつか入れる
    <a href="chat.html">チャット</a>
    <a href="registration.html">安否登録</a>
    <a href="friends.html">安否一覧</a>
</div>

</body>
</html>